html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --fonte-p: Arial, Verdana, Helvetica, sans-serif;
    --cor0: #220E3F;
    --cor1: rgb(47, 47, 232);
    --cor2: white;
    --cor3: grey;
    --cor4:#221648;
    --horizontal_margin: 7.5%;
}
body{
    background-color: var(--cor0);
    margin: 0px;
    padding: 0px;
    color: var(--cor2);
    font-family: var(--fonte-p);
}
header{
    background-color: var(--cor0);
    z-index: 1;
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
}
header h1{
    color: var(--cor1);
    margin-left: var(--horizontal_margin);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 3em;
    font-family: 'Sriracha', cursive;
}
nav a{
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
}
nav a:hover{
    color: var(--cor1);
}
ul#menu{
    margin-right: var(--horizontal_margin);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
}
li.menu{
    text-align: center;
    margin-left: 2vh;
    font-family: var(--fonte-p);
}
@media (max-width: 800px){
    header h1{
    font-size: 2em;
    }
}
main h1{
    padding-top: 100px;
    text-align: center;
}
ul#album-fotos{
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}
ul#album-fotos li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all .4s ease-in;   
}
ul#album-fotos li:hover {
    -webkit-transform: scale(1.5);
}
ul#album-fotos li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}
ul#album-fotos li:hover span {
    opacity: 1;

}
ul#album-fotos li#foto01{
    background: url('img/monitor-loading-progress-icon.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto01:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto02{
    background: url('img/monitor-loading-progress-icon.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto02:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto03{
    background: url('img/monitor-loading-progress-icon.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto03:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto04{
    background: url('img/monitor-loading-progress-icon.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto04:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto05    {
    background: url('img/monitor-loading-progress-icon.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto05:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto06    {
    background: url('img/monitor-loading-progress-icon.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto06:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}















footer{
    margin-top: 20px;
    background-color:#020202;
    color: var(--cor2);
    padding-top: 20px;
    padding-bottom: 20px;
}
footer a{
    color: var(--cor2);
    font-family: var(--fonte-p);
    font-weight: bold;
}
footer a:hover{
    color: var(--cor1);
}
#criador{
    text-align: center;
    color: var(--cor2);
}