html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --fonte-p: Arial, Verdana, Helvetica, sans-serif;
    --cor0: #220E3F;
    --cor1: rgb(47, 47, 232);
    --cor2: white;
    --cor3: grey;
    --cor4:#221648;
    --horizontal_margin: 7.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    background-color: var(--cor2);
    margin: 0px;
    padding: 0px;
}
header{
    background-color: var(--cor0);
    z-index: 1;
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
}
header h1{
    color: var(--cor1);
    margin-left: var(--horizontal_margin);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 3em;
    font-family: 'Sriracha', cursive;
}
nav a{
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
}
nav a:hover{
    color: var(--cor1);
}
ul#menu{
    margin-right: var(--horizontal_margin);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
}
li.menu{
    text-align: center;
    margin-left: 2vh;
    font-family: var(--fonte-p);
}
@media (max-width: 800px){
    header h1{
    font-size: 2em;
}}
div#principal{
    background-image: url('img/fundp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: var(--cor4);
    color: var(--cor2);
}
div h2{
    padding-top: 300px;
    padding-bottom: 5px;
    font-size: 2em;
    margin-left: var(--horizontal_margin);
    font-family: var(--fonte-p);
}
div p{
    margin-left: var(--horizontal_margin);
    font-family: var(--fonte-p);
}
@media (max-width: 800px) {
    div h2{
        padding-top: 120px;
    }
}
div#contato{
    height: 10vh;
}

#contato ul{
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    margin-left: var(--horizontal_margin);
}
#contato li {
    text-align: center;
    padding-top: 80vh;
    padding-right: 100px;
}
#git{
    padding-left: 400px;
}
#contato a{
    color: var(--cor2);
    font-family: var(--fonte-p);
    font-weight: bolder;
}
#contato a:hover{
    color: var(--cor1);
}
@media (max-width: 800px) {
    #contato {
    padding: 40px;
     margin-left: 15%;
     position: relative;
     display: block;
    transform: translateX(-50%);
    }
    #contato ul{
        padding: 5px;
        margin-left: 50%;
        position: relative;
        display: block;
        transform: translateX(-50%);
        }
     #contato li{
        padding: 30px;
        margin-left: 50%;
        position: relative;
        display: block;
        transform: translateX(-50%);
         }
}
#hoje{
    background-color: var(--cor4);
    color: var(--cor2);
    height: 100vh;
    padding-top: 100px;
    font-family: var(--fonte-p);
}
#hoje h3{
    margin-left: var(--horizontal_margin);
    font-size: 2em;
}
#hoje h4{
    margin-left: 100vh;
    line-height: 2,5em;
    padding-top: 50px;
    font-size: large;
}
#hoje h5{
    margin-left: 100vh;
    color: var(--cor1);
    line-height: 2em;
    font-size: medium;
}
#hoje p{
    margin-left: 100vh;
    padding-right: 95px;
}
@media (max-width: 800px){
    #hoje{
        display: block;
        padding-top: 0px;
    }
    #hoje h3 {
        width: 80%;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    #hoje h4 {
        margin-left: 30px;
        padding-top: 10px;
    }
    #hoje h5 {
    margin-left: 30px; 
    }
    #hoje p{
        margin-left: 30px;
    } 
}
.sobre{
    font-family: var(--fonte-p);
    margin: 80px 200px;
}
.sobre h3{
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 2em;
}
.sobre h4{
    padding-top: 40px;
    padding-bottom: 5px;
}
.data{
    padding-left: 150vh;
    font-size: small;
    color: var(--cor3);
}
.sobre p{
    line-height: 1.5em;
}
@media (max-width: 800px) {
    .sobre {
        margin: 20px 30px;
        text-align: justify;
        padding-top: 20px;
    }
    .sobre h3{
        text-align: justify;
        padding-top: 20px;   
    }
    .sobre h4 {
        text-align: justify;
        padding-top: 20px;  
    }
    .sobre p{
        text-align: justify;   
    }
    .data{
        padding-left: 0px;
    }
}
footer{
    margin-top: 20px;
    background-color:#020202;
    color: var(--cor2);
    padding-top: 20px;
    padding-bottom: 20px;
}
footer a{
    color: var(--cor2);
    font-family: var(--fonte-p);
    font-weight: bold;
}
footer a:hover{
    color: var(--cor1);
}
#criador{
    text-align: center;
    color: var(--cor2);
}